@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url("font/quicksand.eot");
    src: local("Quicksand Regular"), local("Quicksand-Regular"), url("font/quicksand.eot?#iefix") format("embedded-opentype"), url("font/quicksand.woff2") format("woff2"), url("font/quicksand.woff") format("woff"), url("font/quicksand.ttf") format("truetype"), url("font/quicksand.svg#Quicksand") format("svg");
}

@font-face {
    font-family: 'fontello';
    src: url("font/fontello.eot?29715915");
    src: url("font/fontello.eot?29715915#iefix") format("embedded-opentype"), url("font/fontello.woff?29715915") format("woff"), url("font/fontello.ttf?29715915") format("truetype"), url("font/fontello.svg?29715915#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}